@model CourseDTO

@{
ViewBag.Title = "Kurs Ekle";
}

<h3>Kurs Ekle</h3>
<hr>
<form asp-controller="Course" asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="Title" class="form-label">Kurs Adı</label>
        <input asp-for="Title" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="TeacherId" class="form-label">Öğretmen</label>
        <select asp-for="TeacherId" asp-items="ViewBag.Teachers" class="form-select">
            <option value="">Seçiniz</option>
        </select>
    </div>

    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form>