@model Course

@{
ViewBag.Title = "Kurs Güncelle";
}

<h3>Kurs Güncelle</h3>
<hr>
<form asp-controller="Course" asp-action="Edit" method="post">
    <input type="hidden" asp-for="CourseId">

    <div class="mb-3">
        <label asp-for="Title" class="form-label">Kurs Adı</label>
        <input asp-for="Title" class="form-control">
    </div>

    <button type="submit" class="btn btn-secondary">Güncelle</button>
</form>